:root {
	--color-0: #292418;
	--color-1: #524839;
	--color-2: #73654a;
	--color-3: #8b7d62;
	--color-4: #a48d6a;
	--color-5: #bda583;
	--color-6: #cdba94;
	--color-7: #e6ceac;
}

body {
	width: min(800px, calc(100% - 40px));
	margin: 32px auto;
	background-color: var(--color-0);
	color: var(--color-5);
}

a {
	color: inherit;
}

h3 {
	color: var(--color-7)
}