---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: "Noto Sans KR",
    apple-system,
    BlinkMacSystemFont,
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    Arial,
    sans-serif;
}

.sidebar {
  opacity: 1 !important;
  
  .h-card {
    text-align: center;
  }

  .author__content {
    @include breakpoint($large) {
      margin-bottom: 0.7em;
    }
  }

  .bmc-icon {
    height: $type-size-3;

    &.large {
      display: none;

      @include breakpoint($large) {
        display: inline-block;
      }
    }

    &.small {
      display: inline-block;

      @include breakpoint($large) {
        display: none;
      }
    }
  }

  .author__urls-new {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;

    @include breakpoint($large) {
      display: block;
    }

    ul {
      padding: 10px;
      list-style-type: none;
    }

    li {
      white-space: nowrap;
    }

    a {
      display: block;
      margin: 0 5px 0 0;
      padding-block: 2px;
      padding-inline-end: 5px;
      color: inherit;
      font-size: $type-size-4;
      text-decoration: none;

      @include breakpoint($large) {
        font-size: $type-size-5;
        margin: 0 0 5px 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    span.label {
      padding-inline-start: 5px;
      display: none;

      @include breakpoint($large) {
        display: inline;
      }
    }
  }

  .development-stage {
    text-align: center;
    border-top: 1px solid $border-color;

    .title {
      display: inline-block;
      font-size: 1.2em;
      font-weight: bold;
      margin-block: 0.8em;
    }

    .stages {
      display: flex;
      justify-content: space-evenly;
      font-size: 0.75em;
      color: $primary-color;

      .arrow {
        opacity: 0.5;
        font-size: 0.75em;
        line-height: 1.33em;
      }

      .stage {
        opacity: 0.5;
        &.now {
            font-weight: bold;
            opacity: 1;
        }
      }
    }
    
    .stage-name {
      font-weight: bold;
      font-size: 0.75em;
      margin: 1em 0 0.5em 0;
    }
    .stage-detail {
      margin-top: 0;
      font-size: 0.75em;
      font-style: italic;
    }
  }
}